<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            padding-left: 20%;
        }
        nav.koko {
            top: 0;
            left: 0;
            padding-left:100%;
            margin-left: -30rem;
        }
        div.nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 230px;
            height: 100%;
            margin-top: 4rem;
            background: #ffffff;
            box-sizing: border-box;
            border-top: 1px solid rgba(0, 0, 0, 0.3);
        }
    </style>
    <title>Student List</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background:#f1f1f1;">
<nav class="koko navbar-expand-sm bg-dark navbar-dark">
    <a routerLink="/" class="navbar-brand" href="/admin/" ></a>
    <ul class = "navbar-nav ml-auto" ></ul>
    <ul class="navbar-nav ml-auto" th:inline="text">
        <a class="nav-link" href="/login/logout" style="margin-left:80%">Logout</a>
        <a class="nav-link" style="position: absolute; left:0%; color: white"> [[${enter.name}]] with roles: [[${enter.role.get(0).name}]]</a>
    </ul>
</nav>


<div class="container mt-3" >
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#userss" role="tab" aria-controls="v-pills-profile" aria-selected="true">User</a>
    </div>

    <div class="tab-content" id="v-pills-tabContent" >
        <div class="tab-pane fade show active" id="userss" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h2>User information-page</h2><br>
            <div class="card" >
                <strong><div class="card-header" style="width: 100%">About user</div></strong>
                <div class="card-body">
                    <div class="container" style="margin-left: 0%; width:100%">
                        <table class="table table-striped" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Street</th>
                                <th>Age</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="usert : ${enter}">
                                <td th:text="${usert.id}"></td>
                                <td th:text="${usert.name}"></td>
                                <td th:text="${usert.street}"></td>
                                <td th:text="${usert.age}"></td>
                                <td th:text="${usert.role.get(0).name}"></td>
                                <td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>