<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            padding-left: 20%;
        }
        nav.koko {
            top: 0;
            left: 0;
            padding-left:100%;
            margin-left: -30rem;
        }
        .sidenav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 20%;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }
        div.nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 230px;
            height: 100%;
            margin-top: 4rem;
            background: #ffffff;
            box-sizing: border-box;
            border-top: 1px solid rgba(0, 0, 0, 0.3);
        }
    </style>


    <title>Info List</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--    <script type="text/javascript">-->
<!--            // $('.buttonForDelete').click(function(we) {-->
<!--            //     we.preventDefault();-->
<!--            //     deleteUser();-->
<!--            // });-->
<!--            // $(document).ready(function () {-->
<!--            //     $("form.buttonForDelete").click(function () {-->
<!--            //         deleteUser();-->
<!--            //     });-->
<!--                // function deleteUser(ev) {-->
<!--                    // var deleteForm = {-->
<!--                    // var id = $("#id_delete").val();-->
<!--                    // var idd = $(this).attr('#id_delete');-->
<!--                    //     id : $("#id_delete").val()-->
<!--                    // name : $("#name_delete").val(),-->
<!--                    // street : $("#street_delete").val(),-->
<!--                    // password : $("#password_delete").val(),-->
<!--                    // age : $("#deletAge").val(),-->
<!--                    // role : $("#role_del").val()-->
<!--                    // }-->
<!--                    // $.ajax({-->
<!--                    //     type: "post",-->
<!--                    //     url: "/admin/deleted",-->
<!--                    //     contentType: "application/json",-->
<!--                    //     dataType: 'text',-->
<!--                    //     data: JSON.stringify(id),-->
<!--                    //     success: function (e) {-->
<!--                    //         alert(idd + " GOOD");-->
<!--                    //         // alert("gotovo " + id);-->
<!--                    //         // alert($(this).attr(id));-->
<!--                    //         // alert("User was deleted from database" );-->
<!--                    //     },-->
<!--                    //     error: function (s) {-->
<!--                    //         alert(idd + " BAD");-->
<!--                    //     },-->
<!--                    // });-->

<!--    // </script>-->
    <script type="text/javascript">
        $(document).ready(function () { // ttyyyyyyyyyyyyyyyyyyyyyyyyyyyyt

                // alert("etap1");
                // var editForm = {
                //     id : $(".tab-content .myEdit input[name='id']").val(),
                //     // name : $(".tab-content input[name='name']").val(),
                //     // age : $(".tab-content input[name='age']").val(),
                //     // street : $(".tab-content input[name='street']").val(),
                //     // role : $(".tab-content input[name='role']").val()
                //
                // };
            // $(function() {
            //     $('#editButFor').click(function () {
            //         alert("OK");
            //         $('#editMod').modal('show');
            //     });

                $(".tab-content #edit_but").on('click', function (event) {

                    event.preventDefault();
                    // var editForm = {
                    //     id : $(".tab-content .myEdit input[name='id']").val(),
                    //     // name : $(".tab-content input[name='name']").val(),
                    //     // age : $(".tab-content input[name='age']").val(),
                    //     // street : $(".tab-content input[name='street']").val(),
                    //     // role : $(".tab-content input[name='role']").val()
                    // };
                    // var j = $(this).parents('.nameForEdit').attr('value');
                    // var newEditForm = {
                    //     name: $(this).attr('value'),
                    //     // name : $(this).parents('.fieldset').val('style'),
                    //     // age : $(this).attr('value'),
                    //     // age : $(".tab-content .myEdit input[name='age']").val(),
                    //     // street : j,
                    //     // password : $('.tab-content .passForEdit').attr('value'),
                    //     // role : $('.tab-content .roleForEdit').attr('value')
                    // };
                    // var ss = $('.tab-content').find('td:eq(0)').text()
                    var newEditForm = {
                        // name: $(this).closest(".nameForEdit input[name='name']").val(),
                        // street: $(this).closest(".idForEdit").attr('value'),
                        // age: $(this).closest(".ageForEdit").val()
                        // name : 	$(".tab-content #editButFor").data("toggle")
                        name : $(this).closest('fieldset').find("input[name='name']").val(),
                        id : $(this).closest('fieldset').find("input[name='id']").val(),
                        street : $(this).closest('fieldset').find("input[name='street']").val(),
                        age : $(this).closest('fieldset').find("input[name='age']").val(),
                        role : $(this).closest('fieldset').find("input[name='role']").val(),
                        password : $(this).closest('fieldset').find("input[name='password']").val(),
                        // street: $(this).parent(".idForEdit input[name='name']").val(),
                    };
                    // $.post("/admin/editUser", function (e) {
                    //     $('#id_edit_form').val(e.id);
                    // })
                    $.ajax({
                        type: "POST",
                        url: "/admin/editUser",
                        contentType: "application/json",
                        dataType: 'text',
                        data: JSON.stringify(newEditForm),
                        success: function (e) {
                            console.log(newEditForm);
                            window.location.href = "/admin/";
                            // alert("User was edited in database " + e);
                        },
                        error: function (e) {
                            console.log(newEditForm);
                            window.location.href = "/admin/";
                            // alert("Error in Edit " + e);
                        },
                    })
                // });
            });

            $(".tab-content #delete_but").on('click', function (event) {
                event.preventDefault();


                // var ss = $(".buttonForDelete input[name='id']").val();
                // var nyy = $(".buttonForDelete .id").attr("value", this.id);
                //
                // // var id = $('.tab-content .classIdDel').val();
                // var optionTexts = []; //раб.варик
                // $.each($('.tab-content #id_delete'), function() {
                //     optionTexts.push($(this).val())
                // });
                // $(".tab-content #getButIdForPost").on( "click", function() {
                //     var id = $(this).attr('value');
                var delForm = {
                    id: $(this).attr('value')
                };
                // });
                // var qe = ($('.tab-content #callDeletePost').attr('value'));
                // var value = $(this).text();
                // var ewq = $(".tab-content #id_delete input[name='id']").val(value);
                // var optionTexts = [];
                // $("table td button #callDeletePost").each(function() { optionTexts.push($(this).text()) });
                $.ajax({
                    type: "POST",
                    url: "/admin/deleted",
                    contentType: "application/json",
                    dataType: 'text',
                    data: JSON.stringify(delForm),
                    success: function (e) {
                        console.log(delForm);
                        alert("User was deleted from database " + e);
                    },
                    error: function (e) {
                        console.log(delForm);
                        alert("Error in Delete " + e);
                    },
                })
            });
              $("#findAll").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/admin/getUsers",
                    contentType: "application/json",
                    dataType: 'text',
                    success: function (e) {
                        alert("Yes. Take your list users" + e);
                    },
                    error: function (s) {
                        alert("Error in listAll")
                    },
                })
            });
            $("#callJSc").submit(function (event) {
                event.preventDefault();
                var addForm = {
                    name: $("#name_create").val(),
                    street: $("#street_create").val(),
                    age: $("#age_create").val(),
                    password: $("#passwordk").val(),
                    role: $("#prava").val()
                };
                $.ajax({
                    type: "POST",
                    url: "/admin/addUser",
                    contentType: "application/json",
                    dataType: 'text',
                    data: JSON.stringify(addForm),
                    success: function (e) {
                        alert("User was added in database" + e);
                        window.location.href = "/admin/";
                    },
                    error: function (s) {
                        alert("Error")
                    },
                })
            });
        })
    </script>
</head>
<body style="background:#f1f1f1;">
<nav class="koko navbar-expand-sm bg-dark navbar-dark">
    <a routerLink="/" class="navbar-brand" href="/admin/" ></a>
    <ul class = "navbar-nav ml-auto" ></ul>
    <ul class="navbar-nav ml-auto" th:inline="text">
        <a class="nav-link" href="/login/logout" style="margin-left:80%">Logout</a>
        <a class="nav-link" style="position: absolute; left:0%; color:white"> [[${enter.name}]] with roles: [[${enter.role.get(0).name}]]</a>
    </ul>
</nav>
<div id="results" class="container mt-3" >
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#admins" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#userss" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent" >
        <div class="tab-pane fade show active" id="admins" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h2>Admin panel</h2><br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" >Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">New User</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content" >
                <div id="home" class="container tab-pane active" style="height: 100%; margin-left: -2%; width:120%;"><br>
                    <div class="card" style="width: 100%; margin-top:-25px; margin-left:3px">
                        <strong><div class="card-header" style="width: 100%">All users</div></strong>
                        <div class="card-body">
                            <div class="container">
                                <table class="tablik table table-striped" id="new-projects">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Street</th>
                                        <th>Age</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="users, userStat : ${listPersons}">
                                        <td th:text="${users.id}"></td>
                                        <td th:text="${users.name}"></td>
                                        <td th:text="${users.street}"></td>
                                        <td th:text="${users.age}"></td>
                                        <td th:text="${users.role.get(0).name}"></td>
                                        <td>
                                            <button type="button" id="editButFor" class="btn btn-info btn-lg btn-sm" data-toggle="modal" data-target="#editMod" data- th:attrappend="data-target=${users.id}">Edit</button>
                                        </td>
<!--                                        data-toggle="modal" data-target="#editMod" th:attrappend="data-target=${users.id}"-->
                                        <div class="modal fade" id="editMod" role="dialog" th:attrappend="id=${users.id}">
<!--                                            th:attrappend="id=${users.id}"-->
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-center">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="myEdit form-horizontal" >
                                                            <fieldset style="text-align:center;">
                                                                <div class="form-group">
                                                                    <strong><label class="col-md-4 control-label" for="id_edit_form">ID</label></strong>
                                                                    <div class="col-md-6 offset-3">
                                                                        <input id="id_edit_form" path="id" name="id" readonly="readonly" placeholder="id" class="idForEdit form-control input-md" th:value="${users.id}"/>
                                                                        <!--                                                <span th:if="${existRoll !=null}" style="color:Red;"> Already Exist !</span>-->
                                                                    </div>
                                                                </div>

                                                                <!-- Text input-->
                                                                <div class="www form-group">
                                                                    <strong><label class="col-md-4 control-label" for="name">Name</label></strong>
                                                                    <div class="col-md-6 offset-3">
                                                                        <input id="name" path="name" name="name" type="text" placeholder="name" class="nameForEdit form-control input-md" th:value="${users.name}"/>
                                                                    </div>
                                                                </div>

                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <strong><label class="col-md-4 control-label" for="street">Street</label></strong>
                                                                    <div class="col-md-6 offset-3">
                                                                        <input id="street" path="street" name="street" type="text" placeholder="street" class="streetForEdit form-control input-md" th:value="${users.street}"/>
                                                                    </div>
                                                                </div>

                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <strong><label class="col-md-4 control-label" for="vozrast">Age</label></strong>
                                                                    <div class="col-md-6 offset-3">
                                                                        <input type="number" id="vozrast" path="age" name="age" min="0" max="110" step="1" placeholder="age" class="ageForEdit form-control input-md" th:value="${users.age}"/>
                                                                    </div>
                                                                </div>


                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <strong><label class="col-md-4 control-label" for="password">Password</label></strong>
                                                                    <div class="col-md-6 offset-md-3">
                                                                        <input id="password" path="password" name="password" type="password" placeholder="password" class="passForEdit form-control input-md" th:value="${users.password}"/>
                                                                    </div>
                                                                </div>


                                                                <div class="form-group col-md-6 offset-3" >
                                                                    <strong><label class="col-md-4 control-label" for="role">Role</label></strong>
                                                                    <select multiple class="form-control btn-sm" id="role" name="role">
                                                                        <option th:value="ROLE_admin" th:text="Admin"></option>
                                                                        <option th:value="ROLE_user" th:text="User"></option>
                                                                    </select>
                                                                </div>

                                                                <!-- Button -->
                                                                <div class="modal-footer">
                                                                    <label class="col-md-4 control-label" for="edit_but"></label>
                                                                    <div class="col-md-4">
                                                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                                                        <button id="edit_but" th:value="${users.id}"  name="edit" class="btn btn-primary btn-sm text-white">Edit</button>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <td>
                                            <button id="callDeletePost" type="button" class="getIdinBut btn btn-danger btn-lg btn-sm" data-toggle="modal" data-target="#deleteMod" th:value="${users.id}"  th:attrappend="data-target=${users.id}">Delete</button>
                                        </td>
                                        <div class="modal fade" role="dialog" id="deleteMod" th:attrappend="id=${users.id}">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-center">Delete user</h5>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <form class="buttonForDelete form-horizontal">
                                                            <fieldset style="text-align:center;">
                                                                <div class="form-group">
                                                                    <strong><label class="col-md-4 control-label" for="id_delete">ID</label></strong>
                                                                    <div class="col-md-6 offset-3">
                                                                        <input id="id_delete" path="id" name="id" readonly="readonly" autofocus="autofocus" placeholder="id_delete" class="idshik classIdDel form-control input-md " required th:value="${users.id}"/>
                                                                        <!--                                                <span th:if="${existRoll !=null}" style="color:Red;"> Already Exist !</span>-->
                                                                    </div>
                                                                </div>

                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <strong><label class="col-md-4 control-label" for="name">Name</label></strong>
                                                                    <div class="col-md-6 offset-3">
                                                                        <input id="name_delete" path="name" name="name" readonly="readonly" type="text" placeholder="name" class="form-control input-md " th:value="${users.name}"/>
                                                                    </div>
                                                                </div>

                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <strong><label class="col-md-4 control-label" for="street">Street</label></strong>
                                                                    <div class="col-md-6 offset-3">
                                                                        <input id="street_delete" path="street" name="street" readonly="readonly" type="text" placeholder="street" class="form-control input-md modal-dialog-centered" th:value="${users.street}"/>
                                                                    </div>
                                                                </div>

                                                                <!-- Text input-->
                                                                <div class="form-group" >
                                                                    <strong><label class="col-md-4 control-label" for="deletAge">Age</label></strong>
                                                                    <div class="col-md-6 offset-3">
                                                                        <input id="deletAge" path="age" name="age" readonly="readonly" type="text" placeholder="age" class="form-control input-md center" th:value="${users.age}"/>
                                                                    </div>
                                                                </div>


                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <div class="col-md-6 offset-3">
                                                                        <input id="password_delete" path="password" name="password" type="hidden" placeholder="password" class="form-control input-md" th:value="${users.password}"/>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group col-md-6 offset-3">
                                                                    <strong><label class="col-md-4 control-label" for="role_del">Role</label></strong>
                                                                    <select multiple class="form-control btn-sm" readonly="readonly" id="role_del" name="role">
                                                                        <option th:text="${users.role.get(0).name}"></option>
                                                                    </select>
                                                                </div>

                                                                <!-- Button -->
                                                                <div class="delIdGet modal-footer">
                                                                    <label class="col-md-4 control-label" for="delete_but"></label>
                                                                    <div class="col-md-4">
                                                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                                                        <button class="getButIdForPost btn btn-danger btn-sm text-white" id="delete_but" name="delete" th:value="${users.id}" th:attrappend="data-target=${userk.id}">Delete</button>
<!--                                                                        onclick="deleteUser()"-->
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu1" class="container tab-pane fade"><br>
                    <div class="card" style="width: 100%; margin-top:-25px; margin-left:-20px">
                        <form id="callJSc" class="form-horizontal" th:object="${userk}" method="post">
                            <strong><div class="card-header" >Add new user</div></strong>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="col-md-3 offset-5">
                                        <input hidden id="id_create" path="id" name="id" class="form-control input-md" th:value="${userk.id}"/>
                                        <!--                                                <span th:if="${existRoll !=null}" style="color:Red;"> Already Exist !</span>-->
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <strong><label class="mx-auto" style="float:right; width:50%;"  for="name">Name</label></strong>
                                    <div class="col-md-3 offset-5">
                                        <input id="name_create" path="name" name="name" type="text" placeholder="name" class="form-control input-md" th:value="${userk.name}"/>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <strong><label class="mx-auto" style="float:right; width:50%;" for="street">Street</label></strong>
                                    <div class="col-md-3 offset-5">
                                        <input id="street_create" path="street" name="street" type="text" placeholder="street" class="form-control input-md" th:value="${userk.street}"/>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <strong><label class="mx-auto" style="float:right; width:50%;" for="age_create">Age</label></strong>
                                    <div class="col-md-3 offset-5">
                                        <input id="age_create" path="age" name="age" min="0" max="110" step="1" type="number" placeholder="age" class="form-control input-md" th:value="${userk.age}"/>
                                    </div>
                                </div>


                                <!-- Text input-->
                                <div class="form-group">
                                    <strong><label class="mx-auto" style="float:right; width:50%;" for="passwordk">Password</label></strong>
                                    <div class="col-md-3 offset-5">
                                        <input id="passwordk" path="password" name="password" type="password" placeholder="password" class="form-control input-md" th:value="${userk.password}"/>
                                    </div>
                                </div>


                                <div class="form-group col-md-3 offset-5">
                                    <strong><label class="mx-auto" for="prava">Role</label></strong>
                                    <select multiple class="form-control btn-sm" id="prava" name="prava">
                                        <option th:value="ROLE_admin" th:text="Admin"></option>
                                        <option th:value="ROLE_user" th:text="User"></option>
                                    </select>
                                </div>

                                <div class="col-md-3 offset-5">
                                    <label class="mx-auto" for="createUsers"></label>
                                    <div class="btn-sm">
                                        <button type="submit" class="btn btn-success btn-lg btn-sm" id="createUsers" data-target="#menu1" th:attrappend="data-target=${userk.id}">Add new user</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="userss" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h2 >User information-page</h2>
            <div class="tab-content">
                <div id="ded" class="container tab-pane active" ><br>
                    <div class="card" >
                        <strong><div class="card-header" style="width: 100%">About user</div></strong>
                        <div class="card-body">
                            <div class="container" style="margin-left: 0%; width:100%">
                                <table class="table table-striped" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Street</th>
                                        <th>Age</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="usert : ${enter}">
                                        <td th:text="${usert.id}"></td>
                                        <td th:text="${usert.name}"></td>
                                        <td th:text="${usert.street}"></td>
                                        <td th:text="${usert.age}"></td>
                                        <td th:text="${usert.role.get(0).name}"></td>
                                        <td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
